.categoryHeader {
    font-size: 2em;
    margin-left: 0.5em;
    margin-top: 1em;
    width: max-content;
    transition: 0.2s;
}

.categoryHeader a:hover {
    color: rgb(0, 149, 255);
}

.categoryHeader svg {
    margin-left: 0.1em;
    fill: var(--font-color-foreground);
    width: 20px;
    height: 20px;
    transition: 0.2s;
}

.categoryHeader:hover svg {
    margin-left: 0.3em;
    scale: 1.2;
    fill: rgb(0, 149, 255);
}

.parentHomeRow {
    display: flex;
    flex-direction: column;
    padding: 0 10%;
}

.parentHomeRow h1 {
    width: max-content;
}

.parentHomeRow a {
    width: 10em;
    text-decoration: none;
}

.homeRow {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2em;
    padding: 1em 0.5em;
    margin: 0;
    overflow-x: scroll;
}

.productContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 15em;
    min-width: 15em;
    height: 25em;
    padding: 1em;
    border-radius: 10px;
    background-color: var(--background-color);
    transition: 0.2s;
    box-shadow: -5px -5px 10px var(--upper-box-shadow-foreground),
        5px 5px 10px var(--lower-box-shadow-foreground);
}

.productInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 100%;
    gap: 0.5em;
}

.productImg{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.productImg a {
    gap: 1em;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.productImg img {
    width: 10em;
    height: 10em;
    object-fit: contain;
    filter: drop-shadow(0 0 5px #e0e5ec);
}

.productTitle {
    color: var(--title-color-foreground);
    font-size: 1.1em;
    text-align: center;
    margin-top: 0.5em;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
}

.productContainer:hover .productTitle {
    color: rgb(0, 149, 255);
}

.productPriceRatingButtons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    width: 100%;
}

.productPriceRating {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.3em;
}

.productPrice {
    color: rgb(0, 149, 255);
    font-size: 1.2em;
}

.productRating {
    display: flex;
    justify-content: flex-start;
    gap: 0.3em;
}

.addToCart {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    outline: none;
    height: 3em;
    width: 100%;
    padding: 0.5em;
    border-radius: 25px;
    cursor: pointer;
    background-color: var(--background-color);
    box-shadow: -3px -3px 5px var(--upper-box-shadow-foreground),
        3px 3px 5px var(--lower-box-shadow-foreground);
    transition: 0.2s;
}

.addToCart:active {
    box-shadow: -3px -3px 5px var(--upper-box-shadow-foreground) inset,
        3px 3px 5px var(--lower-box-shadow-foreground) inset;
}

.noOfItemsProduct {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: .5em;
    height: 2.5em;
    padding: 0.5em;
    border-radius: 25px;
    background-color: var(--background-color);
    box-shadow: -3px -3px 5px var(--upper-box-shadow-foreground),
        3px 3px 5px var(--lower-box-shadow-foreground);
}

.noOfItemsProduct button {
    width: 100%;
    height: 2em;
    border: none;
    outline: none;
    background-color: var(--background-color);
    cursor: pointer;
    transition: 0.2s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.noOfItemsProduct button:nth-child(1) {
    border-radius: 25px 0 0 25px;
}

.noOfItemsProduct button:nth-child(3) {
    border-radius: 0 25px 25px 0;
}

.noOfItemsProduct button:active {
    box-shadow: -3px -3px 5px var(--upper-box-shadow-foreground) inset,
        3px 3px 5px var(--lower-box-shadow-foreground) inset;
}

.noOfItemsProduct button svg {
    fill: var(--font-color-foreground);
    width: 1em;
    height: 1em;
}

.noOfItemsProduct button:active>svg {
    fill: rgb(0, 149, 255);
}

input[type='number'] {
    outline: none;
    border: none;
    text-align: center;
    width: 3em;
    color: rgb(0, 149, 255);
    border-radius: 10px;
    background-color: var(--background-color);
    font-size: 1em;
    transition: 0.2s;
}

input[type='number']:focus {
    box-shadow: -3px -3px 5px var(--upper-box-shadow-foreground) inset,
        3px 3px 5px var(--lower-box-shadow-foreground) inset;
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.productInfoDetailed {
    display: none;
    flex-direction: column;
    width: 100%;
    padding: 1em;
    align-items: center;
    justify-content: center;
}

.descTitle {
    font-size: 1.5em;
    color: var(--title-color-foreground);
}

.productDesc {
    font-size: 0.9em;
}

@media only screen and (max-width: 1010px) {
    .parentHomeRow {
        padding: 0;
    }

    .categoryHeader {
        font-size: 1.5em;
    }

    .categoryHeader svg {
        width: 15px;
        height: 15px;
    }

    .productContainer {
        width: 14em;
        min-width: 14em;
        height: 26em;
    }

    .productImg img {
        width: 9em;
        height: 9em;
    }
}